<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pixel Art</title>
    <script src="/static/p5.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <!-- {{filename + ".js"}} -->
    <!-- Download button for the image and the javascript -->
    <a href="/sketches/{{filename}}.png" download="{{filename}}.png">Download Image</a>
    <a href="/sketches/{{filename}}.js" download="{{filename}}.js">Download Javascript</a>

    <!-- Show the javascript -->
    <script src="/sketches/{{filename}}.js"></script>
</body>

</html>